html, body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* height: 800px; */
    overflow-x: hidden;
}

body {
    font-family: 'Josefin Sans', sans-serif;
}

#whoarewe{
    opacity: 1;
    text-align: center;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -ms-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}

.top-hero {
    background: linear-gradient(-45deg, #f1997eab, #e780a7b0, #63cbf19c, #23d5abaf);
    background-size: 200%;
	animation: gradient 60s ease infinite;
    padding-top: 100px;
}

@keyframes gradient {
    0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
}